/* Page Title Section */
.aboutus-image {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 0px;
}

.about-us h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-top: -80px;
}

/* Our Story Section */
.our-story {
    font-family: 'Poppins', sans-serif;
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    color: #4d3b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.our-story h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 175px;
    margin-bottom: 29px;
    color: #4d3b2b;
}

.our-story p {
    font-size: 13px;
    line-height: 1.6;
    max-width: 500px;
    margin: 0 auto;
    color: #000000;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* Began Section */
.began-image {
    display: block;
    width: 550px;
    height: 550px;
    border-radius: 5px;
    margin-top: -500px;
    margin-left: 600px;
}

.began {
    font-family: 'Poppins', sans-serif;
    padding: 40px 20px;                 
    background-color: white;
    color: #4d3b2b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    height: auto;
    max-width: 800px;
    margin-left: 5%;
    margin-right: 5%;
}

.began h1 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 143px;
    margin-bottom: 29px;
    color: #4d3b2b;
    text-align: right;
}

.began p {
    font-size: 13px;
    line-height: 1.6;
    max-width: 517px;
    margin: 0;
    color: #000000;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8;
    margin-bottom: 20px; 
    font-family: 'Poppins', sans-serif; 
}

/* We Found Section */
.wefound-image {
    display: block;
    width: 550px;
    height: 550px;
    border-radius: 5px;
    margin-top: -500px;
    margin-right: 600px;
}

.we-found {
    font-family: 'Poppins', sans-serif;
    padding: 40px 20px;                 
    background-color: white;
    color: #4d3b2b;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: justify;
    height: auto;
    max-width: 800px;
    margin-left: 40%;
    margin-right: auto;
}

.we-found h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4d3b2b;
    text-align: right;
}

.we-found p {
    font-size: 13px;
    line-height: 1.6;
    max-width: 517px;
    margin: 0;
    color: #000000;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8;
    margin-bottom: 20px; 
    font-family: 'Poppins', sans-serif;
}

/* Advocacy and Success */
.advocacy-success-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.advocacy, .success {
    width: 48%;
    background-color: white;
    max-width: 517px;
}

.advocacy h1, .success h1 {
    font-size: 24px;
    color: #4d3b2b;
}

.advocacy p, .success p {
    font-size: 13px;
    line-height: 1.6;
    color: #000000;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8;
    margin-bottom: 20px; 
}

/* Own Section */
.own-image {
    display: block;
    margin: 10px auto;
    width: 1129px;
    height: 409px;
    margin-bottom: 60px;
}

.own {
    font-family: 'Poppins', sans-serif;
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    color: #4d3b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-bottom: 60px;
}

.own h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-bottom: 29px;
    color: #4d3b2b;
}

.own p {
    font-size: 13px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8;
    margin-bottom: 20px; 
}
