body {
    margin: 0px;
}

header {
    font-family: 'Inter', sans-serif;
    position: sticky; /* To stay in place when scrolled */
    top: 0;
    z-index: 1000; /* Layer placement */
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4d3b2b;
    color: #fff;
    height: 40px;
}

.nav-left a:hover {
    color: #f5a623; /* Turns orange when hovered */
}

.user-options a:hover {
    color: #f5a623;
}

.user-options img {
    transition: filter 0.1s ease;
    /* Transition of color when hovered */
}
  
.user-options img:hover {
    filter: brightness(0) saturate(100%) invert(52%) sepia(77%) saturate(1015%) hue-rotate(353deg) brightness(98%) contrast(99%);
    /* Turns orange when hovered */
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
  
.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
  
.nav-item {
    position: relative;
}
  
.nav-item a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 0px;
    display: inline-block;
}
  
.nav-item a:hover {
    color: #f5a623;
}
  
/* Dropdown Menu Styling */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4d3a2a;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 200px;
    z-index: 10;
    padding: 10px 0;
}
  
.dropdown-menu a {
    color: #4a4a4a;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
  
.dropdown-menu a:hover {
    background-color: #fff;
    color: #4a4a4a;
}
  
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* Right Navigators */
header .nav-left {
    display: flex;
    gap: 30px;
    flex: 1;
}

header .nav-left a {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
}

header .user-options {
    display: flex;
    gap: 60px;
    flex: 1;
    justify-content: flex-end;
}

header .user-options a {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}